:root {
    --font1: "IBM Plex Sans Hebrew", sans-serif;
    --font2: "Inter", sans-serif;
}

html {
    overflow-x: hidden;
    font-family: var(--font1);
}

body {
    position: relative;
    overflow: hidden;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}


/* header */
.header {
    position: fixed;
    left: 0;
    right: 0;
    background: white;
    padding: 20px 0;
    z-index: 999;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 38px;
    font-weight: bold;
    padding-right: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenubox nav {
    flex: 1;
}

.submenubox ul {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.submenubox ul li {
    position: relative;
    font-size: 17px;
    font-weight: 600;
    color: rgb(0 0 0 / 75%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu::after {
    content: "";
    background: url(../img/icon/down_arrow.svg);
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-left: 3px;
}

.submenubox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.submenu ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.submenu ul li {
    color: rgb(0 0 0 / 65%)
}

.submenubox ul li:hover .submenu {
    opacity: 1;
    visibility: visible;

}

.submenubox ul li:hover::after {
    transform: rotate(180deg);
    transition: 0.5s ease;
}

.sub_menu ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub_menu ul li {
    font-size: 17px;
    font-weight: 500;
    color: rgb(0 0 0 / 75%);
}

.submenu ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #B1D8FC;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.submenu ul li:hover::after {
    transform: scaleX(1);
}

.world {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 30px;
    padding: 5px 21px 5px 15px;
}

.world::before {
    content: "";
    background: url(../img/icon/world.svg);
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 6px;
}


.login,
.Request {
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 30px;
    padding: 9px 15px;
}

.Request {
    background-color: rgb(0 0 0 / 75%);
    color: white;
}

.sub_menu .Request {
    color: #fff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    background: black;
    transition: all 0.3s ease;
}

.hamburger.menu_active span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left;
}

.hamburger.menu_active span:nth-child(2) {
    opacity: 0;
}

.hamburger.menu_active span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left;
}

@media screen and (max-width:1451px) {
    .logo {
        font-size: 30px;
    }
}

@media screen and (max-width:1333px) {
    .navmenu ul {
        gap: 30px;
    }

    .logo {
        font-size: 26px;
    }

    .submenubox ul li {
        /* font-size: 14px; */
    }

    .login,
    .Request {
        padding: 9px 13px;
    }
}


@media screen and (max-width:1122px) {
    .sub_menu ul {
        gap: 5px;
    }

    .world {
        padding: 4px 10px;
    }

    .login,
    .Request {
        padding: 9px 10px;
    }

    .sub_menu ul li {
        font-size: 14px;
    }
}

@media screen and (max-width:1035px) {
    .logo .hamburger {
        display: flex;
        width: 30px;
        height: 25px;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
        padding-right: 0;
    }

    .header {
        padding: 0;
    }

    .main_menu {
        z-index: 1;
        padding: 20px 0;
        background-color: #fff;
        width: 100%;
    }

    .submenubox {
        height: calc(100vh - 113px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        top: 0;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        padding-top: 73px;
        padding-bottom: 40px;
        transform: translateY(-100%);
    }

    .submenubox.menu_active {
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        align-items: center;
        justify-content: center;
    }

    .submenubox ul {
        flex-direction: column;
        height: 100%;
    }

    .submenubox nav {
        flex: none;
        height: 80%;
    }

    .sub_menu ul {
        display: flex;
        flex-direction: row;
    }

    .sub_menu {
        margin-top: auto;
    }
}


/* section_1 */
.section_1 {
    background-color: #B1D8FC;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 100vh;
    display: flex;
}

.section_1 .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multiline-text {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 20px;
}

.section_1 p {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding-bottom: 5px;
}

.section_1 p::before {
    content: "";
    background: url(../img/icon/Check_ring.svg);
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

.section_1_textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section_1 .Request {
    font-weight: 500;
    margin-top: 20px;
    padding: 14px 31px;
}

.section_1_imgarea {
    position: relative;
}

.chatbubble {
    position: absolute;
}

.bubble1 {
    right: -50px;
    top: 30px;
}

.bubble2 {
    left: -80px;
    top: 104px;
}

.bubble3 {
    right: -30px;
    bottom: 130px;
}

.bubble4 {
    left: -162px;
    bottom: 40px;
}

.section_1 .Request:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

@media screen and (max-width:1360px) {
    .multiline-text {
        font-size: 48px;
    }

    .section_1 p {
        font-size: 15px;
    }
    .bubble1{
        right: -25px;
    }

    .section_1 p::before {
        height: 22px;
        width: 22px;
    }

    .section_1 .Request {
        padding: 12px 24px;
    }

    .bubble2 {
        left: -25px;
    }

    .bubble4 {
        left: -90px;
    }
}

@media screen and (max-width:1250px) {
    .chatbubble {
        max-height: 45px;
    }
}

@media screen and (max-width:1100px) {
    .bubble1 {
        right: -20px;
    }

    .bubble3 {
        right: -10;
    }

    .bubble4 {
        left: -40px;
    }

    .multiline-text {
        font-size: 43px;
    }

    .section_1 p {
        font-size: 13px;
    }

    .section_1 .Request {
        padding: 10px 20px;
    }
    .chatbubble {
        max-height: 42px;
    }
}

@media screen and (max-width:880px) {
    .section_1 {
        padding-top: 66px;
        height: calc(100vh - 66px);
    }

    .section_1 .wrap {
        gap: 24px;
        flex-direction: column;
        justify-content: center;
    }

    .bubble2 {
        top: 65px;
    }

    .multiline-text {
        font-size: 40px;
    }

    .section_1 p {
        font-size: 14px;
    }

    .section_1_imgarea {
        display: flex;
        justify-content: center;
    }

    .section_1_textarea {
        width: 100%;
    }

    .se1_main_img {
        width: 90%;
    }
    .bubble1,.bubble3{
        right: 0;
    }
    .bubble2,.bubble4{
        left: 0;
    }
}
@media screen and (max-width:600px){
    .bubble2 {
        top: 100px;
    }
    .bubble3{
        bottom: 100px;
    }
}
@media screen and (max-width:560px){
    .chatbubble {
        max-height: 4.5vh;
    }
}
@media screen and (max-width:490px){
    .bubble1 {
        top: 10px;
    }
    .bubble4 {
        bottom: 10px;
    }
    .bubble3 {
        bottom: 65px;
    }
    .bubble2 {
        top: 65px;
    }
}
@media screen and (max-width:400px){
    .chatbubble {
        max-height: 4vh;
    }
}



/* section_2 */
.trusted-by-container {
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trusted-by-header {
    font-size: 48px;
    margin-bottom: 90px;
    color: rgb(0 0 0 / 50%);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.trusted-counter {
    color: #000;
}

.break-line {
    display: block;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    
}

.logos img {
    max-width: none;
    vertical-align: middle;
    opacity: 0.7;
    width: 15%;
    transition: opacity 0.3s;
}

.logos img:hover {
    opacity: 1;
}

@media screen and (max-width:891px) {
    .trusted-by-header {
        font-size: 44px;
        margin-bottom: 60px;
    }
    .logos{
        justify-content: center;
    }
    .logos img {
        width: 23%;
    }
}

@media screen and (max-width:700px) {
    .trusted-by-header {
        font-size: 40px;
    }
}

@media screen and (max-width:650px) {
    .trusted-by-header {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:572px) {
    .trusted-by-header {
        font-size: 32px;
    }
}

@media screen and (max-width:508px) {
    .trusted-by-header {
        font-size: 28px;
    }
}

@media screen and (max-width:464px) {
    .trusted-by-header {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:445px) {
    .trusted-by-header {
        font-size: 26px;
    }
}

@media screen and (max-width:415px) {
    .trusted-by-header {
        font-size: 23px;
    }
}

/* section_3 */
.section_3 {
    background-color: #323232;
    border-radius: 60px;
}

.section_3_text p {
    color: #fff;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.section_3_main {
    padding: 120px 0 40px 0;
}

.section_3_cardbox {
    display: flex;
    justify-content: center;
    padding: 80px 0 40px 0;
    gap: 20px;
}

.cardbox_sub {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
    gap: 20px;
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    height: calc(100% - 100px);
    padding: 50px 50px;
    gap: 20px;
}

.card1 {
    background-color: rgb(255 255 255 / 15%);
    height: 100%;
}

.card2 {
    background-color: #3A5C45;
}

.card3 {
    background-color: #B1D8FC;
    height: 100%;
    align-content: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.card p {
    font-size: 15px;
    line-height: 1.3;
    color: rgb(255 255 255 / 65%);
}

.cardbox_sub .card3 h3 {
    color: rgb(0 0 0/75%);
}

.cardbox_sub .card3 p {
    color: rgb(0 0 0/65%);
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px !important;
}

button:hover {
    background-color: #323232;
    color: #fff;
    transition: 0.5s;
}

.card img {
    width: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card1:hover img {
    transform: scale(1.05);
}

.custom-line {
    height: 2px;
    background-color: rgb(255 255 255 / 15%);
    margin: 0 auto;
}

.counter {
    color: #B0D9FF;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 120px;
}

.counter p {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    padding-top: 20px;
}

.card_imgbox {
    width: 100%;
    margin-top: auto;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width:1295px) {
    .counter {
        font-size: 70px;
    }
}

@media screen and (max-width:1164px) {
    .card h3 {
        font-size: 35px;
    }

    .card_container button {
        font-size: 13px;
    }

    .card_container {
        padding: 50px 7%;
    }

    .counter {
        font-size: 60px;
    }

}

@media screen and (max-width:1052px) {
    .section_3_text p {
        font-size: 56px;
    }

    .card h3 {
        font-size: 30px;
    }

    .counter p{
        font-size: 16px;
    }
}

@media screen and (max-width:945px) {
    .section_3_text p {
        font-size: 50px;
    }

    .card h3 {
        font-size: 25px;
    }
}

@media screen and (max-width:880px) {
    .section_3_cardbox {
        flex-direction: column;
        align-items: center;
        padding: 34px 0;
    }

    .card {
        max-width: none;
        max-height: none;
    }

    .card h3 {
        font-size: 30px;
    }

    .card p {
        font-size: 16px;
    }

    .card_container button {
        font-size: 14px;
    }

    .counter {
        font-size: 45px;
    }
    .counter p{
        font-size: 14px;
    }

    .section_3_main {
        padding: 64px 0px 40px 0px;
    }

    .cardbox_mian {
        width: 100%;
    }
}

@media screen and (max-width:720px) {
    .counter {
        font-size: 65px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding-left: 10%;
    }

    .counter p {
        padding-top: 10px;
        font-size: 13px;
    }

    .section_3_text p {
        font-size: 45px;
    }
}

@media screen and (max-width:600px) {
    .section_3_text p {
        font-size: 43px;
    }
}

@media screen and (max-width:510px) {
    .section_3_text p {
        font-size: 40px;
    }

    .counter {
        font-size: 50px;
    }
}

@media screen and (max-width:426px) {
    .section_3_text p {
        font-size: 35px;
    }

    .counter {
        font-size: 50px;
    }

    .card h3 {
        font-size: 28px;
    }
}

@media screen and (max-width:385px) {

    .card p {
        font-size: 15px;
    }

    .counter {
        font-size: 45px;
    }
}

/* section_4 */
.section_4 {
    margin: 100px 0;
}


.section_4_text {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 100px;
}

.section_4_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.section_4_content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
}

.section_4_content_text h3 {
    color: #FD852F;
    font-size: 40px;
    font-weight: 600;
}

.section_4_content_text p {
    font-size: 17px;
    line-height: 1.3;
    color: rgb(0 0 0 / 65%);
    width: 70%;
}

.section_4_content_img {
    display: flex;
    gap: 20px;
    width: 50%;
}

.section_4_content_img img {
    z-index: 2;
    position: relative;
}

.img_box {
    position: relative;
}

.img_box:nth-child(2) {
    top: 50px;
}

.img_back {
    position: absolute;
    top: -20px;
    left: -14px;
    width: 100%;
    height: 100%;
    background-color: #B1D8FC;
    z-index: 1;
}

.back2 {
    top: 20px;
    left: 14px;
}

.section_4_content2 {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.section_4_content2 .section_4_content_imgback {
    background-color: #ffeaff;
    padding: 50px;
    border-radius: 30px;
}

.img3 {
    border-radius: 25%;
    max-width: 450px;
}

.section_4_content2 .section_4_content_text h3 {
    color: #9149ED;
}


@media screen and (max-width:1260px) {
    .section_4_content_text h3 {
        font-size: 35px;
    }

    .section_4_content_text p {
        width: 100%;
    }

    .img3 {
        max-width: 100%;
    }
}

@media screen and (max-width:980px) {
    .section_4_content_text h3 {
        font-size: 30px;
    }
}

@media screen and (max-width:850px) {
    .section_4_content_text h3 {
        font-size: 25px;
    }

    .section_4_content_text p {
        font-size: 16px;
    }

    .section_4_content_text button {
        font-size: 15px;
    }
    .section_4_text {
        font-size: 55px;
    }
}

@media screen and (max-width:720px) {
    .section_4_main {
        margin-top: 65px;
    }

    .section_4_content {
        flex-direction: column-reverse;
        gap: 90px;
    }

    .section_4_content_img {
        width: calc(100% - 28px);
        gap: 40px;
    }

    .section_4_content2 .section_4_content_img {
        width: 100%;
    }

    .section_4_content_text {
        width: 100%;
    }

    .section_4_text {
        font-size: 52px;
        margin-bottom: 0;
    }

    .section_4_content_text h3 {
        font-size: 30px;
    }

    .section_4_content_text p {
        font-size: 16px;
    }

    .section_4_content_text button {
        font-size: 16px;
    }

    .section_4_content2 {
        gap: 50px;
        flex-direction: column;
    }

    .section_4_content2 .section_4_content_imgback {
        padding: 5%;
    }
}

@media screen and (max-width:672px) {
    .section_4_text {
        font-size: 45px;
    }
}

@media screen and (max-width:445px) {
    .section_4_text {
        font-size: 37px;
    }

    .section_4_content_text h3 {
        font-size: 26px;
    }
}

@media screen and (max-width:385px) {
    .section_4_content_text h3 {
        font-size: 23px;
    }

    .section_4_content_text p {
        font-size: 15px;
    }

    .section_4_content_text button {
        font-size: 15px;
    }
}

/* section5 */

.section_5 {
    background-color: #323232;
    border-radius: 60px;
}

.section_5_text {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    padding-top: 120px;
    padding-bottom: 80px;
    color: #fff;
}

.section_5 .section_4_content_text {
    align-items: center;
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(to right, #B1D8FC 50%, #fff 50%);
}

.swiper-slide .section_4_content_text h3 {
    color: #000;
}

.swiper_textbox {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
}

.swiper_imgbox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_imgback {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #B1D8FC;
}

.swiper-slide img {
    max-width: 30vw;
}

.swiper-button-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 30px;
}

.swiper-button-pagination .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
    gap: 10px;
}

.swiper-button-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #888;
    opacity: 1;
    border-radius: 50%;
    margin: 0 5px;
}

.swiper-button-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-button-pagination .swiper-button-prev,
.swiper-button-pagination .swiper-button-next {
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #444;
    border-radius: 50%;
    position: relative;
}

.swiper-button-pagination .swiper-button-prev::after,
.swiper-button-pagination .swiper-button-next::after {
    font-size: 12px;
}

@media screen and (min-width:1920px) {
    .swiper_imgbox img {
        max-width: 550px;
    }
}

@media screen and (max-width:1365px) {
    .section_5 .section_4_content_text h3 {
        font-size: 34px;
    }
}

@media screen and (max-width:1271px) {
    .section_5_text {
        font-size: 50px;
    }
}

@media screen and (max-width:1160px) {
    .section_5 .section_4_content_text h3 {
        font-size: 30px;
    }
}

@media screen and (max-width:1025px) {
    .section_5_text {
        font-size: 45px;
    }

    .section_5 .section_4_content_text h3 {
        font-size: 28px;
    }
}

@media screen and (max-width:880px) {

    .section_5 .section_4_content_text {
        width: auto;
        margin-top: 10%;
        margin-bottom: 50px;
    }

    .swiper_textbox {
        width: 60%;
    }

    .swiper .swiper-slide {
        background: linear-gradient(to top, #B1D8FC 30%, #fff 40%);
        flex-direction: column-reverse;
    }

    .swiper_imgback {
        margin: 0 auto;
    }

    .swiper-slide img {
        max-width: 55vw;
    }

    .section_5_text {
        font-size: 41px;
    }

    .swiper_imgbox {
        margin-top: 65px;
        margin-bottom: 0;
    }

    .section_5 .section_4_content_text h3 {
        font-size: 28px;
    }

    .section_5 .section_4_content_text p {
        font-size: 16px;
    }

    .section_5 .section_4_content_text button {
        font-size: 13px;
    }
}

@media screen and (max-width:640px) {
    .section_5_text {
        font-size: 35px;
    }

    .section_5 .section_4_content_text h3 {
        font-size: 25px;
    }
}

@media screen and (max-width:545px) {
    .section_5 .section_4_content_text h3 {
        font-size: 24px;
    }

    .swiper_textbox {
        width: 71%;
    }

    .swiper-slide img {
        max-width: 65vw;
    }
}

@media screen and (max-width:450px) {
    .section_5 .section_4_content_text h3 {
        font-size: 22px;
    }

    .swiper .swiper-slide {
        background: linear-gradient(to top, #B1D8FC 35%, #fff 45%);
    }

    .section_5 .section_4_content_text p {
        font-size: 14px;
    }

    .section_5 .section_4_content_text h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:420px) {}

/* section6 */

.section_6_text {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    padding-top: 120px;
    padding-bottom: 80px;
}

.section_6_content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section_6_img {
    background-color: #ffeaff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 50%;
}

.section_6_imgbox {
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_6_imgbox .se6_img {
    width: 80%;
    border-radius: 25%;
}

.se6_bubble1 {
    position: absolute;
    top: 150px;
    right: 15px;
}

.se6_bubble2 {
    position: absolute;
    left: 20px;
    bottom: 205px;
}

.steps {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.step1 {
    height: calc(30% - 40px);
}

.step2 {
    height: calc(30% - 40px);
}

.step3 {
    height: calc(40% - 40px);
}

.steps h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.step {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;

}

.step-content h3::before {
    content: attr(data-step);
    background-color: #9149ED;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-content h3 {
    margin: 0 0 15px 0;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.step-content p {
    margin: 0;
    font-size: 16px;
    color: #666;
    padding-left: 45px;
}

.step-button {
    padding-left: 41px;
    padding-top: 20px;
}

.step-button button {
    background-color: #fff;
    border: black solid 1px;
}

.step-button button:hover {
    background-color: #323232;
    color: #fff;
}

@media screen and (max-width: 1360px){
    .se6_bubble1{
        top: 80px;
    }
    .se6_bubble2{
        bottom: 110px;
    }
}
@media screen and (max-width: 1200px){
    .se6_bubble1{
        height: 45px;
    }
    .se6_bubble2{
        height: 45px;
    }
}
@media screen and (max-width: 1200px){
    .se6_bubble1{
        height: 42px;
    }
    .se6_bubble2{
        height: 42px;
    }
}
@media screen and (max-width: 880px) {
    .section_6_content{
        flex-direction: column;
    }
    .section_6_img{
        width: 100%;
    }
    .steps{
        width: 100%;
    }
    .se6_bubble1{
        height: auto;
        top: 150;
    }
    .se6_bubble2{
        height: auto;
        bottom: 205px;
    }
}
@media screen and (max-width: 850px) {
    .section_6_text{
        font-size: 55px;
    }
}
@media screen and (max-width: 720px) {
    .section_6_text{
        font-size: 52px;
    }
}
@media screen and (max-width: 672px) {
    .section_6_text{
        font-size: 45px;
    }
}
@media screen and (max-width: 445px) {
    .section_6_text{
        font-size: 37px;
    }
}
/* footer */
.footer {
    /* padding: 50px; */
    background-color: #121212;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.footer-top {
    padding-top: 120px;
    padding-bottom: 80px;
}

.footer-top h1 {
    font-size: 56px;
    margin-bottom: 60px;
}

.request-demo-btn {
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    margin: 40px 0;
    border: 1px solid #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: left;
}

.footer-section-main h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.footer-section {
    font-family: var(--font2);
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 35px;
}

.footer-section ul li {
    margin-bottom: 20px;
    font-size: 13px;
}

.footer-section ul li a {
    color: #bbbbbb87;
}

.footer-section ul li a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    font-family: var(--font2);
    font-size: 13px;
}

.footer-bottom-hr {
    margin: 40px 0 10px 0;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legal-links a {
    color: #bbbbbb87;
    margin: 0 10px;
}

.legal-links a:hover {
    color: #fff;
}